.ProjectPage {
    background-color: black;
    padding-top: 4rem;

    & * {
        color: white;
    }
}

.ProjectPage-header {
    position: relative;

    

}

@keyframes scrollScreen {
    to {
        transform: translateY(-100%);
    }
}

.ProjectPage-viewMaster {
    height: 150vh;
    width: 75%;
    margin-left: auto;
    overflow: hidden;
    position: relative;
    margin-top: 4rem;

    & img {
        position: absolute;
        top: 0;
        width: 100%;
        display: inline-block;

        @include scrollBasedAnimate(scrollScreen);
        animation-delay: calc(var(--scroll) * -4.5s);

    }
}

.ProjectPage-title {
    background-color: black;
}

.ProjectPage-kicker {
    background-color: black;
    position: absolute;
    bottom: 25%;
    z-index: 1;
    font-size: 2rem;
    font-weight: 200;
    width: 55%;
    padding: 2rem 2rem 2rem 1rem;
    line-height: 1.2;
}

.ProjectPage-opener {
    font-size: 3rem;
    padding: 2rem;
    font-weight: 200;
    line-height: 1.3;
    width: 75%;
    letter-spacing: -0.04em;
    margin-bottom: 4rem;
}

.is-ruled {
    @include rule-large(top);
    padding-top: 1.8rem;
}

figure {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

figcaption {
    padding-top: 1rem;
}

img {
    display: inline-block;
    width: 100%;
}

.ProjectPage-imageGrid {
    display: grid;
    grid-auto-flow: dense;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 8rem;
    column-gap: 4rem;

    & .full-col {
        grid-column-end: span 2;
    }
}

.push-down {
    margin-top: 14rem;
}

@media screen and (max-width: 550px) {
    .ProjectPage-imageGrid {
        display: block;
    }
}