.ProjectPage {
    background-color: var(--blackish);
    padding-top: 4rem;

    & * {
        color: var(--whiteish);
    }

    & section {
        margin-bottom: 10rem;
    }
}

.ProjectPage-header {
    position: relative;



}

@keyframes scrollScreen {
    to {
        transform: translateY(-100%);
    }
}

.ProjectPage-viewMaster {
    height: 115vh;
    width: 75%;
    margin-left: auto;
    overflow: hidden;
    position: relative;
    margin-top: 4rem;

    & img {
        position: absolute;
        top: 0;
        width: 100%;
        display: inline-block;

        @include scrollBasedAnimate(scrollScreen);
        animation-delay: calc(var(--scroll) * -4.3s);

    }
}

.ProjectPage-title {
    background-color: var(--blackish);
}

.ProjectPage-kicker {
    background-color: var(--blackish);
    position: absolute;
    bottom: -1.6rem;
    z-index: 1;
    font-weight: 200;
    width: 45%;
    padding: 2rem 2rem 0 1rem;
    line-height: 1.1;
}

.ProjectPage-opener {
    padding: 2rem;
    width: 75%;
    margin-bottom: 10rem;
}

.is-ruled {
    @include rule-large(top);
    padding-top: 1.8rem;
}

figure {
    margin: 0;
}

figcaption {
    padding-top: 3rem;
}

img {
    display: inline-block;
    width: 100%;
}

.ProjectPage-imageGrid {
    display: grid;
    grid-auto-flow: dense;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 8rem;
    column-gap: 4rem;

    & .full-col {
        grid-column-end: span 2;
    }
}

.push-down {
    margin-top: 14rem;
}

.ArtifactsPage {
    // background: linear-gradient(#c0ab5b, #8f7b45);
    // background: linear-gradient(#cdb457, #8f7b45);
    background: linear-gradient(#dfbd6c, #8f7b45);

    & * {
        color: var(--blackish);
    }
}

.jpg {
    // mix-blend-mode: hard-light;
    filter: contrast(1.3)grayscale(0.85);
    transition:
        filter 700ms ease-in;

    &:hover {
        filter: contrast(1)grayscale(0);
    }
}

@media screen and (max-width: 550px) {

    .ProjectPage-imageGrid {
        display: block;
    }

    .jpg {
        filter: none;
        transition: none;
    }
}