* {
    font-family: 'Spectral', serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
p,
ul,
li {
    margin: 0;
    color: var(--font-dark);
}

a {
    color: inherit;
    text-decoration: none;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        background: linear-gradient(to right, #E9C885 20%, #CEAB64);
        left: -0.05em;
        top: 30%;
        bottom: 30%;
        width: 0;
        transition: right 300ms ease-out;
        right: 100%;
        transition: right 300ms ease-out;
        transform: skewX(-13deg);
        z-index: -1;

    }

    &:hover::before {
        width: auto;
        right: -0.05em;
    }
}

ul {
    list-style-type: none;

    & li {
        font-size: inherit;
        font-style: italic;
        padding-right: 3rem;

        & a {
            font-size: inherit;
        }
    }
}

.heading-1 {
    font-family: 'Tanker', sans-serif;
    font-family: 'Bebas Neue', sans-serif;
    font-size: max(5rem, 8.5vw);
    font-weight: 700;
    line-height: 0.8;
    letter-spacing: 0.04em;
    color: var(--whiteish);
}

.heading-2 {
    margin: 0;
    @extend .heading-1;
    font-size: max(2.7rem, 4vw) !important;
    letter-spacing: 0.4;
    line-height: 1;
    text-align: center;
}

.heading-3 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 0.9;
    letter-spacing: -0.02em;
}

.heading-4 {
    font-size: 2.4rem;
    font-weight: 300;
    letter-spacing: -0.03em;
    line-height: 1.3;
}

.heading-5 {
    font-size: 3rem;
    font-weight: 300;
    letter-spacing: -0.04em;
    line-height: 1.3;
}

p {
    margin-top: 5rem;
}

hr {
    border: 1px solid white;
    width: 25%;
    margin-bottom: 4.1rem;
    margin-top: 1.9rem;
}

.logo {
    font-size: max(3rem, 3.8vw);
    position:relative;
    top: 3rem;
    left: 2.75rem;
    z-index: 3;
    color: var(--color-primary);
    color: var(--whiteish);
    letter-spacing: 0.15em;
    position: fixed;
    line-height: 1;
}
