:root {
    --blackish: #040415;
    --whiteish: #fdf9ed;
    --whiteish: #fffdf7;
    --font-dark: var(--blackish);
    --color-primary: #295277;
    --color-secondary: #3c5e33;
    // --color-secondary: #db3b0a;
}

@mixin circle($size) {
    width: $size;
    height: $size;
    border-radius: 50%;
}

@mixin box ($size) {
    width: $size;
    height: $size;
}

@mixin scrollBasedAnimate ($keyframe) {
    animation: $keyframe 1s linear;
    animation-play-state: paused;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}



@mixin rule-large ($tblr) {
    border-#{$tblr}: 2px solid currentColor;
}

@mixin rule-small ($tblr) {
    border-#{$tblr}: 1px dotted currentColor;
}