@import '_vars';
@import '_typography';
@import '_adel-page';


.u-flex {
    display: flex;
    flex-flow: row wrap;
}

.u-ib {
    display: inline-block;
    width: auto;
}

.u-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.u-marginBottomRoot {
    margin-bottom: 10rem;
}

.sr-only {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}



body {
    padding: 0;
    margin: 0;
    height: 6000px;
}

.wrapper {
    max-width: calc(1800px - 4rem);
    padding: 0 4rem;
    margin: 0 auto;
    padding-top: 2rem;


}

.Header {
    @include rule-large(top);
    padding-top: 1.8rem;
    flex-direction: row-reverse;
    gap: 4rem;
}

@keyframes rotate {
    50% {
        transform: rotate(180deg);
        @include circle(75vh);
        bottom: 5rem;
        right: 2rem;
    }

    100% {
        transform: rotate(360deg);
        @include circle(125vh);
        bottom: -12.5vh;
        right: -15%;
    }
}

@keyframes rotate-overlayer {
    50% {
        @include circle(75vh);
        bottom: 5rem;
        right: 2rem;
    }

    100% {
        @include circle(125vh);
        bottom: -12.5vh;
        right: -15%;
    }
}

.Spot {
    position: absolute;
    @include circle(75vh);
    border-radius: 50%;
    background:
        radial-gradient(ellipse farthest-corner at right bottom, #CEB644 0%, #c49846 8%, #957a41 30%, #816A36 40%, transparent 80%),
        radial-gradient(ellipse farthest-corner at left top, #FFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #312916 100%);
    right: 2rem;
    bottom: 5rem;
    z-index: -1;

    &.is-animated {
       @include scrollBasedAnimate(rotate);
       animation-delay: calc(var(--scroll) * -0.99s);
 
    }
}

.Spot-overLayer {
    position: absolute;
    @include circle(75vh);
    filter: url("#roughpaper");
    opacity: 0.65;
    right: 2rem;
    bottom: 5rem;
    z-index: -1;
    clip-path: circle(50% at 50% 50%);
    mix-blend-mode: multiply;

    &.is-animated {
        @include scrollBasedAnimate(rotate-overlayer);
        animation-delay: calc(var(--scroll) * -0.99s);
  
     }

}





.Header-name {
    flex: 1;
}

.Header-description {
    flex: 1;
}

@keyframes nav-transform {
    to {
        transform: translateY(-3rem);
    }
}

.Nav {
    width: 37%;

    &.is-animated {
        @include scrollBasedAnimate(nav-transform);
        animation-delay: calc(var(--scroll) * -4s);
  
     }
}

.Nav-header {
    margin-bottom: 1.6rem;
}

.Work-list {
    font-size: 1.9rem;
    padding-left: 0;

    & li:not(:last-child) {
        @include rule-small(bottom);
        margin-bottom: 0.8rem;
        padding-bottom: 0.6rem;
    }
}

.hidden {
    display: none;
}

@media (max-width: 600px) {}