@import './_vars.css';
@import './_typography.css';

.u-flex {
    display: flex;
    flex-flow: row wrap;
}

body {
    padding: 0;
    margin: 0;
    height: 10000px;
}
.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: calc(1800px - 4rem);
    padding: 0 2rem;
    margin: 0 auto;
    margin-top: 2rem;


}

.Header {
    border-top: 2px solid black;
    padding-top: 1.8rem;
    flex-direction: row-reverse;
}

.Spot {
    position: absolute;
    height: 70vh;
    width: 70vh;
    border-radius: 50%;
    background-color: tomato;
    right: 0;
    bottom: 5rem;
    z-index: -1;
}

.Header-name {
    flex: 1;
}

.Header-description {
    flex: 1;
}

@media (max-width: 600px) {
 
}
