:root {
    --background-color: #9b7676;
    --text-color: white;

    --underline-thickness: 0.1em;
    --underline-offset: 0.05em;

    --font-weight-thin: 300;
    --font-weight-thick: 700;
}

body {
    margin: 0;
    color: var(--text-color);
    font-family: "spectral", serif;
    font-size: 0.5rem;
    position: relative;
    -webkit-font-smoothing: antialiased;
}

.flex {
    display: flex;
    position: relative;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}

.background {
    background:
        url("line-art-02.svg"),
        var(--background-color);
    background-size: 600vw;
    background-position:
        21% 150vh,
        center top;
    background-repeat: no-repeat;
    height: 2850vw;
    padding-top: 100vh;
    position: relative;
}

/* Pull tab */
.background::before {
    content: '';
    position: absolute;
    display: block;
    background: url('pull-tab.svg') center bottom no-repeat;
    width: 100%;
    top: 0;
    height: calc(100vw * 0.25);
    background-size: cover;
    transform: translateY(-100%);
}

.flow-text {
    padding: 2.5rem;
    top: 44%;
    position: fixed;
    width: 15rem;
    display: inline-block;
    left: 52%;
    transform: translate(-50%, -50%);
    padding: 6.5rem 2.5rem 5.5rem;
    background: url('round-blob.svg') center center no-repeat;
    background-size: cover;
    -moz-osx-font-smoothing: grayscale;
}

h2 {
    font-weight: var(--font-weight-thick);
    font-size: 1.3rem;
    line-height: 1.37;
    text-decoration: underline;
    text-underline-offset: 0.27em;
    text-decoration-thickness: var(--underline-thickness);
}

.text-link {
    color: inherit;
    text-decoration-line: underline;
    text-decoration-thickness: var(--underline-thickness);
    text-underline-offset: var(--underline-offset);
    text-decoration-color:#f7f31d;
}

.text-link:visited {
    text-decoration-color: white;
}

.heading-text {
    color: var(--background-color);
    z-index: 1;
    font-size: 0.8rem;
    font-weight: var(--font-weight-thin);
    margin-top: 1rem;
    margin-left: 1.5rem;
}

strong {
    margin-left: 0.4em;
    font-weight: var(--font-weight-thick);
    -moz-osx-font-smoothing: grayscale;
}

@media  (min-width: 768px) {

  .flex {
      height: 125vh;
  }  
  
  .heading-text {
      font-size: 1.4rem;
      letter-spacing: -0.01em;
  }

  .background {
    background-size: 200vw;
    background-position: 44% 150vh, center top;
    height: 940vw;
  }

  .flow-text {
      width: 24rem;
      padding: 9.5rem 4.9rem 10.5rem 5.5rem;  
      left: 50%;
    }

  h2 {
      font-size: 2.3rem;
  }

}